# MS3DVAR WOOM Compilation Tasks
# ================================
#
# Tasks:
#   compile_mpc     : builds the mpc preprocessor (shared prereq for all variants)
#   compile_filter  : builds ms3dvar-filter
#   compile_lr      : builds ms3dvar-lr
#   compile_mr      : builds ms3dvar-mr
#   compile_ms      : builds ms3dvar-ms
#
# All environment variables (MS3DVAR_SRC, CROCO_SRC, FC, CPP1, CFT1,
# FFLAGS1, CPPFLAGS1, LDFLAGS1, NPROCS) are set by the ms3dvar_compile
# env in hosts.cfg.
#
# Execution order (see workflow.cfg stages):
#   step0: compile_mpc
#   step1: compile_filter, compile_lr, compile_mr, compile_ms  (parallel)


[compile_mpc]

    [[content]]
    env=ms3dvar_compile
    commandline=${FC} -o mpc ${CROCO_SRC}/mpc.F

    [[artifacts]]
    mpc={{ run_dir }}/mpc


[compile_filter]

    [[content]]
    env=ms3dvar_compile
    commandline=$MS3DVAR_SRC/ms3dvar_compile_variant.sh FILTER {{ workflow.get_artifact('mpc', 'compile_mpc', 'prolog') }}

    [[artifacts]]
    ms3dvar-filter={{ run_dir }}/ms3dvar-filter


[compile_lr]

    [[content]]
    env=ms3dvar_compile
    commandline=$MS3DVAR_SRC/ms3dvar_compile_variant.sh LR {{ workflow.get_artifact('mpc', 'compile_mpc', 'prolog') }}

    [[artifacts]]
    ms3dvar-lr={{ run_dir }}/ms3dvar-lr


[compile_mr]

    [[content]]
    env=ms3dvar_compile
    commandline=$MS3DVAR_SRC/ms3dvar_compile_variant.sh MR {{ workflow.get_artifact('mpc', 'compile_mpc', 'prolog') }}

    [[artifacts]]
    ms3dvar-mr={{ run_dir }}/ms3dvar-mr


[compile_ms]

    [[content]]
    env=ms3dvar_compile
    commandline=$MS3DVAR_SRC/ms3dvar_compile_variant.sh MS {{ workflow.get_artifact('mpc', 'compile_mpc', 'prolog') }}

    [[artifacts]]
    ms3dvar-ms={{ run_dir }}/ms3dvar-ms
