# ci croco
# check this file with: https://gitlab.inria.fr/ci/lint

variables:
  TERM: "xterm-256color"
  CVTKHOME: "$CI_PROJECT_DIR/CVTK/test_repro/CVTK_DEBUG_FAST_src"
  DATADIR: "$CI_PROJECT_DIR/.datadir"
  CVTKWORK: "$CI_PROJECT_DIR/.datawork"
  CROCO_CI_MPIRUN: "mpirun.mpich"
  
before_script:
  - mkdir -p $DATADIR
  - mkdir -p $CVTKWORK
  - cd $DATADIR
  - mkdir -p TESTROOT/VORT TESTROOT/KTEST TESTROOT/REG
#  - cd $CVTKHOME/Scripts_ana
#  - ./create_link_master_ana.sh
#  - cd -
#  - cd $CVTKHOME/Scripts_vort
#  - ./create_link_master_vort.sh
#  - cd -
  - cd $CVTKHOME/Scripts_reg
  - ./create_link_master_reg.sh
  - cd -


run:
  script:
    - echo "HELLO WORLD"
#    - cd $CVTKWORK/KTEST
#    - exec ./mk_TestDIR_ana.bash UPWELLING
#    - ./mk_TESTALL_ana.bash
#    - echo "gather_recap.bash KTEST"
#    - ./gather_recap.bash KTEST
#    - /bin/sh -c '! grep failed KTEST_gather_recap_*_git*'
#    - cd $CVTKWORK/REG
#    - ./mk_TESTALL_reg.bash
#    - echo "gather_recap.bash REG"
#    - ./gather_recap.bash REG
#    - /bin/sh -c '! grep failed REG_gather_recap_*_git*'

  artifacts:
     paths:
       - $CVTKWORK/ftp
