---------------------------------------------------------------------------------
               Eco3M in 0D mode (i.e. no spacial dimension)
---------------------------------------------------------------------------------
STEP1: preparation of the model configuration in CONFIG_ECO3M/PREPAR_CONFIG_BIO:

1/ build a config.ini_txt file on the same model as  config.ini_txt_0D
2/ build  a param.txt file on the same model as param_default.txt
3/ compile the text2numb.f90 file (using for example the "gfortran text2numb.f90" command)
4/ run the text2numb program with the command "./a.out" (the name of the config.ini_txt and the param.txt files are expected as inputs of this program)
5/ copy the file created by the text2numb program in the parent directory with the name config.ini:
    cp config.ini_txt_conv ../config.ini

STEP2: preparation of the namelist in CONFIG_ECO3M 
1/ build a namelist_eco3m_0D file on the same model as namelist_eco3m_0D_default

STEP3: preparation of the initial conditions in CONFIG_ECO3M 

STEP4: compilation/building/run 

1/ copy Makefile.calc_NCOUPL in Makefile.calc using the command:

cp Makefile.calc_NCOUPL  Makefile.calc

2/ in Makefile.NCOUPL.conf :
uncomment the CPPFLAGS line corresponding to the use of ECO3M alone in 0D configuration
---------------------------------------------------------------------------------
               Eco3M in 1DV mode (or 2D /3D modes) without physical transport (only light varies with depth)
               Example: modelling of a mesocosm 
---------------------------------------------------------------------------------
STEP1: preparation of the model configuration in CONFIG_ECO3M/PREPAR_CONFIG_BIO:

1/ build a config.ini_txt file on the same model as  config.ini_txt_1DV_3D
2/ build  a param.txt file on the same model as param_default.txt
3/ compile the text2numb.f90 file (using for example the "gfortran text2numb.f90" command)
4/ run the text2numb program with the command "./a.out" (the name of the config.ini_txt and the param.txt files are expected as inputs of this program)
5/ copy the file created by the text2numb program in the parent directory with the name config.ini:
    cp config.ini_txt_conv ../config.ini

STEP2: preparation of the namelist in CONFIG_ECO3M 
1/ build a namelist_eco3m_1DV_3D file on the same model as namelist_eco3m_1DV_3D_mesocosm

STEP3: preparation of the initial conditions in CONFIG_ECO3M/C_INI/

STEP4: compilation/building/run 

1/ copy Makefile.calc_NCOUPL in Makefile.calc using the command:

cp Makefile.calc_NCOUPL  Makefile.calc

2/ in Makefile.NCOUPL.conf :
uncomment the CPPFLAGS line corresponding to the use of ECO3M alone in 1DV or 3D configuration (e.g. mesocosm configuration) 
---------------------------------------------------------------------------------
               Eco3M in 1DV/2D  or 3D modes coupled with a physical model which advects and diffuses the biogeochemical tracers
               Example: 1DV coupling with tke physical model or 3D coupling with NEMO or CROCO 
---------------------------------------------------------------------------------
STEP1: preparation of the model configuration in CONFIG_ECO3M/PREPAR_CONFIG_BIO:

1/ build a config.ini_txt file on the same model as  config.ini_txt_1DV_3D
2/ build  a param.txt file on the same model as param_default.txt
3/ compile the text2numb.f90 file (using for example the "gfortran text2numb.f90" command)
4/ run the text2numb program with the command "./a.out" (the name of the config.ini_txt and the param.txt files are expected as inputs of this program)
5/ copy the file created by the text2numb program in the parent directory with the name config.ini:
    cp config.ini_txt_conv ../config.ini

STEP2: preparation of the namelist in CONFIG_ECO3M 
1/ build a namelist_eco3m_1DV_3D file on the same model as namelist_eco3m_1DV_3D_tke

STEP3: preparation of the initial conditions in CONFIG_ECO3M/C_INI/

STEP4: compilation/building/run 

1/ copy Makefile.calc_COUPL in Makefile.calc using the command:

cp Makefile.calc_COUPL  Makefile.calc

2/ in Makefile.NCOUPL.conf :
Note that if Eco3M is not anymore the main program inside the coupling, the main program of Eco3M is transformed into a subroutine thanks to the ECO3M_SUB cpp key in this conf file

